.devoloper-content {
  margin-top: 5rem;
}

.developer-picture-container {
  padding: 1rem 2rem 0 2rem;
}

.developer-picture {
  width: 40rem;
}

.getStartedBtn {
  color: white;
  background-color: blue;
  margin-top: 1rem;

  text-decoration: none;
}
.pop-title {
  font-weight: 700;
}
