.cont{
    background: url('../../Assets/homebg.jpg') no-repeat;
    background-attachment: fixed;
	background-size: cover;
    height: 100vh;
    padding: 0%;
}

.slides{
    padding: 10%;
    width: 60%;
    height: 60%;
}

 img{
width: 900px;
height: 450px;
}