.box {
 margin-top: 40px;
    width: 350px;
    height: 425px;
    background-color: rgb(244, 245, 246);
    box-shadow: 2px 4px 10px 1px rgba(201,201,201,47);
    margin-left: 60px;
    margin-bottom: 10px;
    border-radius: 10px;
    display:inline-block;
   
  }
.box2{
    padding-top: 30px;
    margin-bottom: 10px;
    width: 705px;
    height: 395px;
    background-color: rgb(244, 245, 246);
    box-shadow: 2px 4px 10px 1px rgba(201,201,201,47);
    margin-left: 40px;
    margin-top: 40px;
    border-radius: 10px;
    display: inline-block;
   
  }
 
.box3{
  width: 1100px;
  height: 400px;
  background-color: rgb(244, 245, 246);
  box-shadow: 2px 4px 10px 1px rgba(201,201,201,47);
  margin-left: 60px;
  margin-bottom: 30px;
  border-radius: 10px;
  margin-top: 10px;
  display: block;
  }
  #label
  {
color: black;
  }
  
  body{
    margin: 0;
    padding: 0;
  }
  .smallbox{
    height: 180px;
    width: 245px;
    margin-top: 50px;
    margin-left: 60px;
    margin-right: -50px;
    box-shadow: 2px 4px 10px 1px rgba(201,201,201,47);
    padding: 10px;
  }

  .heading{
    font-Family: Arial;
    font-size: 10px;
    font-Weight: bold
  }
  .headCell{
    padding: 3px;
    font-Family:Arial;
    font-size: 10px;
    font-Weight:bold
  }
  .topic{
    font-Family: "Arial";
    font-size: 16px;
    font-Weight: bold;
    padding-top:0px;
    margin-Top:48px;
    margin-Left:20px
  }