.Profilebox{
  width: 1015px;
  height: 350px;
  background-color:#f5fefd;
  box-shadow: 4px 4px 4px rgb(179, 211, 222);
  display: flex;
  border-radius: 10px;
  text-align:center;
  margin-left: 40px;
  margin-top: 60px;
  }

.propic{
  width: 350px;
  height: 350px;
  border-radius: 5px;
  background-color:rgb(208, 223, 222);
 }

 .Profilebox2{
  width: 490px;
  height: 400px;
  background-color:#f5fefd;
  box-shadow: 4px 4px 4px rgb(179, 211, 222);
  border-radius: 10px;
  margin-bottom: 40px;
  margin-left: 40px;
  margin-top: 20px;
  }
  .Profilebox3{
    width: 500px;
    height: 400px;
    background-color:#f5fefd;
    box-shadow: 4px 4px 4px 4px rgb(179, 211, 222);
    border-radius: 10px;
    margin-bottom: 40px;
    margin-left: 20px;
    margin-top: 20px;
    }
    .profileboxdetail{
font-family: Arial;
font-size: "16px";
color: aqua;

    }
    .profileboxheading{

    }