.new-complain-btn-holder, .complain-close-btn{
    display: flex;
    justify-content: center;
    }
    
    .form-card{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    
    .form-group{
       margin: 1rem;
    }
    