.App{
    background-color: rgb(244, 245, 246);
}
.leftAlignbox{
    text-align: left;
    background-color: aqua;
    display: inline;
    height: 30px;
    width: 30px;
}
.rightAlignbox{
    text-align: right;
    background-color: yellow;
    display: inline;
    height: 30px;
    width: 30px;
}